<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.stack21.pgbackup</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-lc</string>
      <string>cd /Users/santivilla/saas-starter && DB_HOST=127.0.0.1 DB_PORT=5432 DB_NAME=stack21 DB_USER=stack21 DB_PASSWORD=stack21_local_pass ./scripts/pg_backup.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>3</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/santivilla/saas-starter/logs/pgbackup.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/santivilla/saas-starter/logs/pgbackup.err.log</string>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>


